.w-30
{
  width: 30% !important;
}
.w-20
{
  width: 20% !important;
}
.w-img
{
  width: 100px !important;
}
.bi
{
  margin:10px;
}
.story
{
  height:80px;
  padding:10px;
}
.dp
{
  height:20px;
  margin-top:5px;
  margin-right:5px;
}
.image
{
  width:300px;
}
.suggestions
{
  width:80%;
  margin:40px
}
.suggestions h5{
  font-size:16px;
}
.suggestions .dp
{
  margin-top: 0px !important;
}
.gradient-border
{
  width:45px;
  height: 45px;
  border-radius:50%;
  display:flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(45deg,#ff00ff,#ff6600,#ffcc00);
}
.story-dp
{
  width:40px;
  height:40px;
  border-radius:50%;
  border:2px solid white;
}

