.w-30
{
  width: 30% !important;
}
.w-20
{
  width: 20% !important;
}
.w-img
{
  width: 100px !important;
}
.bi
{
  margin:10px;
}
.story
{
  height:60px;
}
.dp
{
  height:20px;
  margin-top:5px;
  margin-right:5px;
}
.image
{
  width:300px;
}
.suggestions
{
  width:80%;
  margin:40px
}
.suggestions h5{
  font-size:16px;
}
.suggestions .dp
{
  margin-top: 0px !important;
}